html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}


.dark {
  background-color: black;
  color: white;
}
.dark:hover {
  background-color: darkgray;
}

.light {
  background-color: #FBFBC9;
}

.light:hover {
  background-color: #EAEA9D;
}
